In [1]:
%matplotlib inline
import matplotlib
import pandas as pd
import numpy as np

In [2]:
car_crashes = pd.read_csv('../data/PA_chapter2_data/car_crashes.csv')

In [3]:
car_crashes.Year = car_crashes.Year.astype(str)

In [4]:
car_crashes = car_crashes.convert_objects(convert_dates='coerce')

/home/kongweikun/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [5]:
car_crashes.head()

        Year  Car_Crash_Fatalities_US
0 1900-01-01                       36
1 1901-01-01                       54
2 1902-01-01                       79
3 1903-01-01                      117
4 1904-01-01                      172